@model usuarios.ViewModels.ProyectoCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Proyecto</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="datetime-local" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Presupuesto" class="control-label"></label>
                <input asp-for="Presupuesto" class="form-control" />
                <span asp-validation-for="Presupuesto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control"
                        asp-items="@(ViewData["ClienteId"] as SelectList)">
                    <option value="">Seleccione un cliente</option>
                </select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control"
                        asp-items="@(ViewData["CategoriaId"] as SelectList)">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
